@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* Neutral */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --btnHover: #766cf1;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

main {
  max-width: 1440px;
  height: 100vh;
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: var(--paleBlue);
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  height: 700px;
  border-radius: 1.5rem;
  background-color: var(--veryPaleBlue);
}

.card-img {
  border-radius: 1.5rem 1.5rem 0 0;
}

.content {
  padding: 3rem;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  font-weight: 900;
  color: var(--darkBlue);
}

span {
  display: block;
  margin-top: 1.25rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--desaturatedBlue);
  line-height: 1.6rem;
}

.plans {
  padding: 1.5rem;
  border-radius: 1rem;
  margin-top: 1.6rem;
  background-color: var(--veryPaleBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}

.price {
  margin-left: 1.2rem;
}

.annual {
  font-size: 1rem;
  font-weight: 900;
  color: var(--darkBlue);
}

.amount {
  margin-top: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--desaturatedBlue);
}

.change-btn {
  color: var(--brightBlue);
  font-weight: 900;
}

.change-btn:hover {
  color: var(--btnHover);
  font-weight: 900;
  text-decoration: none;
}

.payment-btn {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.6rem;
  margin-top: 1.6rem;
  font-size: 1rem;
  font-weight: 700;
  color: var(--veryPaleBlue);
  background-color: var(--brightBlue);
  box-shadow: 0.7rem 1rem 1rem var(--paleBlue);
}

.payment-bth:hover {
    background-color: var(--btnHover);
}

.cancel-btn {
  width: 50%;
  display: block;
  margin: 2.2rem auto 0;
  font-size: 1rem;
  font-weight: 900;
  color: var(--desaturatedBlue);
  text-decoration: none;
}

.cancel-btn:hover {
  color: var(--darkBlue);
  cursor: pointer;
}

@media (max-width: 450px) {
  .card,
  .card-img {
    width: 375px;
  }

  span {
    font-size: 1rem;
  }

  .plans {
    padding: 1.5rem 0;
  }
}
