@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Primary */
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);

  /* Neutral */
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
  --btnHover: #766cf1;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

main {
  max-width: 1440px;
  height: 100vh;
  background-image: url("./images/pattern-background-desktop.svg");
  background-color: var(--paleBlue);
  background-repeat: no-repeat;
  display: grid;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  height: 700px;
  border-radius: 24px;
  background-color: #fff;
}

.card-img {
  border-radius: 20px 20px 0 0;
}

.content {
  padding: 10%;
  text-align: center;
}

h1 {
  font-size: 29px;
  font-weight: 900;
  color: var(--darkBlue);
}

span {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--desaturatedBlue);
  line-height: 26px;
}

.plans {
  padding: 24px;
  border-radius: 16px;
  margin-top: 26px;
  background-color: var(--veryPaleBlue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  display: flex;
  align-items: center;
}

.price {
  margin-left: 20px;
}

.annual {
  font-size: 17px;
  font-weight: 900;
  color: var(--darkBlue);
}

.amount {
  margin-top: 4px;
  font-size: 17px;
  font-weight: 500;
  color: var(--desaturatedBlue);
}

.change-btn {
  color: var(--brightBlue);
  font-weight: 900;
}

.change-btn:hover {
  color: #766cf1;
  font-weight: 900;
  text-decoration: none;
}

.payment-btn {
  width: 100%;
  padding: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 26px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background-color: var(--brightBlue);
  box-shadow: 12px 16px 16px var(--paleBlue);
}

.cancel-btn {
  width: 50%;
  display: block;
  margin: 36px auto 0;
  font-size: 15px;
  font-weight: 900;
  color: var(--brightBlue);
  text-decoration: none;
}

.cancel-btn:hover {
  color: var(--darkBlue);
  cursor: pointer;
}

@media (max-width: 450px) {
  main,
  .card-img {
    width: 375px;
  }
}
